php_flag display_startup_errors off
php_flag display_errors off
php_flag log_errors on
php_flag ignore_repeated_errors off
php_flag ignore_repeated_source off
php_flag report_memleaks on
php_flag track_errors on
php_value docref_root 0
php_value docref_ext 0
#set to E_ALL, somehow -1 doesn't work.
php_value error_reporting 6143
php_value log_errors_max_len 0
